<mat-card>
  <mat-card-header>
    <mat-card-title>登录：</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field color="primary" floatPlaceholder="float" appearance="outline">  <!--floatPlaceholder: 'always' | 'float'(default) | 'never'; hintLabel="string"-->
      <!-- <span matPrefix><mat-icon>mail</mat-icon></span>  -->
      <mat-label>邮箱</mat-label>
      <span matSuffix>@gmail.com</span>
      <input matInput type="text" placeholder="您的email">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  
  </mat-card-content>
  <mat-card-actions>
    <p>还没有账户？<a href="">注册</a></p>
    <p>忘记密码？<a href="">找回</a></p>
  </mat-card-actions>
</mat-card>
